<mat-nav-list>
    <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
     <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
       
         <mat-icon aria-label="label">image_search</mat-icon>
          <p>Image Upload</p>
     </div>
    </a>
  
    <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        
          <mat-icon aria-label="label">video_call</mat-icon>
           <p>Video Upload</p>
      </div>
     </a>
   
    <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        
          <mat-icon aria-label="label">insert_drive_file</mat-icon>
           <p>Pdf Upload</p>
      </div>
    </a>
  
    <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        
          <mat-icon aria-label="label">library_music</mat-icon>
           <p>Music Upload</p>
      </div>
    </a>
  </mat-nav-list>